@using LearnIt.DateFormater

@model LearnIt.Controllers.LectureController.FormModel

@{
    ViewData["Title"] = "Edit Lecture";
    string empty = "";
}

@section EditLectureCss{
    <link href="@Url.Content("~/css/form.css")" rel="stylesheet" type="text/css" />
    @*<link href="@Url.Content("~/css/edit-lecture.css")" rel="stylesheet" type="text/css" />*@
}

<div class="log-form first-section">
    <div class="log-form-wrapper">
        <form asp-controller="Lecture" asp-action="UpdateLecture" method="post">
            <h4 class="form-title">
                Edit Lecture
            </h4>
            <hr />
            <input asp-for="LectureId" value="@ViewBag.Lecture.Id" style="display: none;" />
            <div asp-validation-summary="All" class="text-danger all-mistakes"></div>
            <div class="form-group">
                <label class="form-label" asp-for="Name"></label>
                <input asp-for="Name" class="form-input" placeholder="Intro to MVC EF C#"
                       value="@ViewBag.Lecture.Name" />
                <span asp-validation-for="Name" class="text-danger mistake"></span>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="StartDate"></label>
                <input asp-for="StartDate" class="form-input"
                       value="@(ViewBag.Lecture.StartDate is null || ViewBag.Lecture.StartDate.Year < 2010 ?
                                    " 2010-01-01" : DateFormater.InputStyle(ViewBag.Lecture.StartDate))" />
                <span asp-validation-for="StartDate" class="text-danger mistake"></span>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="About"></label>
                <textarea asp-for="About" class="form-input txt-area scrollable" rows="6" cols="80" placeholder="Enter a brief description of the lecture..."
                          data-text="@(ViewBag.Lecture.About is null ? empty : ViewBag.Lecture.About)"></textarea>
                <span asp-validation-for="About" class="text-danger mistake"></span>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="PresentationLink"></label>
                <input asp-for="PresentationLink" class="form-input" placeholder="https://softuni.bg"
                       value="@(ViewBag.Lecture.PresentationLink is null ? empty : ViewBag.Lecture.PresentationLink)" />
                <span asp-validation-for="PresentationLink" class="text-danger mistake"></span>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="ExercisesLink"></label>
                <input asp-for="ExercisesLink" class="form-input" placeholder="https://softuni.bg"
                       value="@(ViewBag.Lecture.ExercisesLink is null ? empty : ViewBag.Lecture.ExercisesLink)" />
                <span asp-validation-for="ExercisesLink" class="text-danger mistake"></span>
            </div>
            <div class="form-group">
                <label class="form-label" asp-for="VideoLink"></label>
                <input asp-for="VideoLink" class="form-input" placeholder="https://softuni.bg"
                       value="@(ViewBag.Lecture.VideoLink is null ? empty : ViewBag.Lecture.VideoLink)" />
                <span asp-validation-for="VideoLink" class="text-danger mistake"></span>
            </div>

            <button type="submit" class="btn btn-primary">
                Update Lecture
            </button>
        </form>
    </div>
</div>

<script>
    var txt = document.querySelector('.txt-area');
    txt.defaultValue = txt.getAttribute('data-text');
</script>